name: Run Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          snode-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run unit
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          snode-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run coverage
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          snode-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run format:ci
  check-hybrid:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run checkHybrid
  gitdiff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          snode-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run gitdiff:ci
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          snode-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run lint
